controller_manager:
  ros__parameters:
    update_rate: 100

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    gripper_controller:
      type: position_controllers/GripperActionController

joint_state_broadcaster:
  ros__parameters:
    publish_rate: 50

gripper_controller:
  ros__parameters:
    joint: gripper_joint
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
